.form-card{

  max-width:900px;
  
  margin:auto;
  
  }
  
  textarea{
  
  resize:vertical;
  
  min-height:80px;
  
  }
  
  .form-actions{
  
  margin-top:28px;
  
  display:flex;
  
  justify-content:flex-end;
  
  }
  
  .btn-primary{
  
  font-size:14px;
  
  padding:10px 20px;
  
  }
